/.idea/
*.iml
#local spark context data from unit tests
spark-warehouse/

#Build dirctory for maven/sbt
target/
project/project/
project/target/
*.DS_Store
/src/main/scala/com/databricks/labs/overwatch/TestRunner.scala
