/.idea/
*.iml
#local spark context data from unit tests
spark-warehouse/

#Build dirctory for maven/sbt
target/
project/project/
project/target/
/docs/overwatch_docs/public/
*.DS_Store
/src/main/scala/com/databricks/labs/overwatch/TestRunner.scala
/data_samples/
/src/main/scala/com/databricks/labs/overwatch/Testing.sc
/metastore_db/
/derby.log
/schema/
/src/main/scala/com/databricks/labs/overwatch/ESxxxx.scala
*~
/Logo/
\.terraform
terraform.tfstate*
\.terraform.lock.hcl
*/.bloop
*/.bsp
*/.idea
*/.metals
*/.vscode
.bloop
.bsp
.metals
.idea
